In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
titles = pd.read_csv('data/titles.csv', index_col=None)
titles.head()

FileNotFoundError: [Errno 2] File b'data/titles.csv' does not exist: b'data/titles.csv'

In [4]:
cast = pd.read_csv('data/cast.csv', index_col=None)
cast.head()

                               title  year       name   type character     n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22.0
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself   NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27.0
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3.0
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself   NaN

### Ile filmów (rekordów) zawiera DataFrame ``titles``?

In [5]:
len(titles)

214591

### Jakie są dwa najwcześniejsze filmy?

In [13]:
titles.sort_values('year').head(2)

                                                   title  year
90767                                         Miss Jerry  1894
10994  Reproduction of the Corbett and Fitzsimmons Fight  1897

### Ile filmów wyprodukowano pod tytułem "Hamlet"?

In [15]:
len(titles[titles.title == 'Hamlet'])

19

### Ile jest filmów pod tytułem "North by Northwest"?

In [16]:
len(titles[titles.title == 'North by Northwest'])

1

### Kiedy wyprodukowano pierwszy filmy "Hamlet"?

In [9]:
titles[titles.title == 'Hamlet'].sort_values('year').head(1)

         title  year
100923  Hamlet  1910

### Wylistuj filmy "Treasure Island" od najwcześniejszego do najnowszego

In [10]:
titles[titles.title == 'Treasure Island'].sort_values('year')

                  title  year
48904   Treasure Island  1918
108475  Treasure Island  1920
89471   Treasure Island  1934
52435   Treasure Island  1950
118309  Treasure Island  1972
144139  Treasure Island  1973
191845  Treasure Island  1985
50325   Treasure Island  1999

### Ile filmów wyprodukowano w roku 1950?

In [11]:
len(titles[titles.year == 1950])

1036

### Ile filmów wyprodukowano w roku 1960?

In [12]:
len(titles[titles.year == 1960])

1461

### Ile filmów wyprodukowano w latach 50 tych?

In [14]:
t = titles
len(t[(t.year >= 1950) & (t.year <= 1959)])

12110

drugi sposób

In [22]:
len(t[t.year // 10 == 195])

12110

### W jakich latach był produkowany film "Batman"?

In [15]:
t = titles
t[t.title == 'Batman']

        title  year
16656  Batman  1989
56309  Batman  1943

### Ile ról (cast) było obsadzonych w filmie "Inception"?

In [24]:
c = cast
len(c[c.title == 'Inception'])

72

### Ile ról w filmie "Inception" NIE nie otrzymało rankingu (kolumna "n")?

In [25]:
c = cast
c = c[c.title == 'Inception']
c = c[c.n.isnull()]
len(c)

21

### A ile ról w filmie "Inception" otrzymało ocenę rankingu w kolumnie "n"?

In [16]:
c = cast
c = c[c.title == 'Inception']
c = c[c.n.notnull()]
len(c)

51

### Wyświetl obsadę filmu "North by Northwest" według liczby ocen od pierwszoplanowych, ignorując role, które nie otrzymały oceny

In [18]:
c = cast
c = c[c.title == 'North by Northwest']
c = c[c.n.notnull()]
c = c.sort_values(by='n', ascending=True)  # narastająco jest domyślnie
c

,title,year,name,type,character,n
1228229,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0
180985,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1339004,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
411247,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
2033529,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
590702,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
1607029,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
2167754,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1130557,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
1504777,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
2685171,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
315343,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2776446,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
1292652,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3084579,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
773496,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0

### Wyświetl całą obsadę według rankingu dla filmu "Sleuth" z 1972.

In [40]:
c = cast
c = c[c.title == 'Sleuth']
c = c[c.year == 1972]
c = c.sort_values(by='n')
c

,title,year,name,type,character,n
1513570,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
288502,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
330750,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1299944,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2406762,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1285278,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Wyświetl całą obsadę według liczby ocen filmu "Sleuth" z 2007 r.

In [41]:
c = cast
c = c[c.title == 'Sleuth']
c = c[c.year == 2007]
c = c.sort_values(by='n')
c

          title  year                 name     type          character    n
288503   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1147041  Sleuth  2007             Jude Law    actor               Milo  2.0
1602268  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
228757   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
330751   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2406761  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
2958823  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### Ile ról było obsadzonych w niemej wersji Hamleta z 1921 r.?

In [24]:
c = cast
c = c[(c.title == 'Hamlet') & (c.year == 1921)]
len(c)

9

### Ile ról było obsadzonych w Hamlecie z 1996 r.?

In [25]:
c = cast
c = c[(c.title == 'Hamlet') & (c.year == 1996)]
len(c)

55

### Ile ról filmu "Hamlet" było obsadzonych w calej historii kina?

In [26]:
c = cast
c = c[c.character == 'Hamlet']
len(c)

81

### Ilu aktorów grało rolę "Ophelia"?

In [27]:
c = cast
c = c[c.character == 'Ophelia']
len(c)

96

### Ilu aktorów grało rolę "The Dude"?

In [28]:
c = cast
c = c[c.character == 'The Dude']
len(c)

16

### Ilu aktorów grało rolę "The Stranger"?

In [29]:
c = cast
c = c[c.character == 'The Stranger']
len(c)

192

### Ile ról zagrał w swojej karierze Sidney Poitier?

In [30]:
c = cast
c = c[c.name == 'Sidney Poitier']
len(c)

43

### Ile ról zagrała Judi Dench?

In [31]:
c = cast
c = c[c.name == 'Judi Dench']
len(c)

51

### Wylistuj role drugoplanowe (mające n=2) grane przez Cary Grant w latach 40, w porządku według roku.

In [33]:
c = cast
c = c[c.name == 'Cary Grant']
c = c[c.year // 10 == 194]
c = c[c.n == 2]
c = c.sort_values('year')
c

                   title  year        name   type    character    n
773493  My Favorite Wife  1940  Cary Grant  actor         Nick  2.0
773503    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### Wylistuj role pierwszoplanowe, które Cary Grant grał w latach 40 według roku.

In [34]:
c = cast
c = c[c.name == 'Cary Grant']
c = c[c.year // 10 == 194]
c = c[c.n == 1 ]
c = c.sort_values('year')
c

,title,year,name,type,character,n
773518,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
773475,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
773520,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
773508,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
773522,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
773499,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
773466,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
773491,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
773492,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
773500,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
773458,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
773495,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
773494,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
773497,Notorious,1946,Cary Grant,actor,Devlin,1.0
773514,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick,1.0
773515,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
773490,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
773470,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
773479,I Was a Male War Bride,1949,Cary Grant,actor,Capt. Henri Rochard,1.0

### Ile ról było dostępnych dla aktorów w latach 50tych?

In [35]:
c = cast
c = c[c.year // 10 == 195]
c = c[c.type == 'actor']
len(c)

147951

### Ile ról było dostępnych dla aktorek w latach 50tych?

In [36]:
c = cast
c = c[c.year // 10 == 195]
c = c[c.type == 'actress']
len(c)

53969

### Ile ról pierwszoplanowych (n=1) było dostępnych od początku historii filmu do końca roku 1980?

In [37]:
c = cast
c = c[c.year <= 1980]
c = c[c.n == 1]
len(c)

61444

### Ile ról niepierwszoplanowych było dostępnych od początku historii kina do końca roku 1980?

In [38]:
c = cast
c = c[c.year <= 1980]
c = c[c.n != 1]
len(c)

1047877

### Ile ról do końca 1980 było na tyle słabych, że nie otrzymało oceny "n"?

In [39]:
c = cast
c = c[c.year <= 1980]
c = c[c.n.isnull()]
len(c)

415167

## Koniec cz. 1