In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
titles = pd.read_csv('data/titles.csv', index_col=None)
titles.head()

             title  year
0   Orlando Vargas  2005
1         Niu-Peng  1989
2    Anandabhadram  2005
3   Mahendra Varma  1993
4  Beomdiga shidae  1970

cast = pd.read_csv('data/cast.csv', index_col=None)
cast.head()

### Definiujemy "Superman year" jako taki, w którym ról Superman było więcej niż Batman. Ile lat w historii filmu było "Superman years"?

### Ile lat było "Batman years", na analogicznych zasadach?

### Wydrukuj liczbę ról aktorów w każdym roku i liczbę ról aktorekw kazdym roku w całej historii filmu (wydruk liniowy).

### Wydrukuj te same dane, ale z rodzajem wydruku 'area'.

### Wydrukuj różnicę między liczbą ról aktorów w każdym roku i liczbę ról aktorek w każdym roku w całej historii filmu.

### Wydrukuj frakcję ról, które były rolami 'actor' w kazdym roku w historii filmu.

### Wydrukuj frakcję ról drugoplanowych (n=2), które były rolami 'actor' w kazdym roku historii filmu.

### Utwórz wydruk z liniami dla każdej wartości od n=1 do n=3, gdzie linie pokazują jakie frakcje tak rangowanych ról były 'actor' dla każdego roku w historii filmu.

## Koniec część 4