In [1]:
%matplotlib inline
import pandas as pd

In [8]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
titles = pd.read_csv('data/titles.csv', index_col=None)
titles.head()

             title  year
0   Orlando Vargas  2005
1         Niu-Peng  1989
2    Anandabhadram  2005
3   Mahendra Varma  1993
4  Beomdiga shidae  1970

In [4]:
cast = pd.read_csv('data/cast.csv', index_col=None)
cast.head()

                               title  year       name   type character     n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22.0
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself   NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27.0
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3.0
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself   NaN

### Ile filmów (rekordów) zawiera DataFrame ``titles``?

### Jakie są dwa najwcześniejsze filmy?

### Ile filmów wyprodukowano pod tytułem "Hamlet"?

### Ile jest filmów pod tytułem "North by Northwest"?

### Kiedy wyprodukowano pierwszy filmy "Hamlet"?

### Wylistuj filmy "Treasure Island" od najwcześniejszego do najnowszego

### Ile filmów wyprodukowano w roku 1950?

### Ile filmów wyprodukowano w roku 1960?

### Ile filmów wyprodukowano w latach 50 tych?

### W jakich latach był produkowany film "Batman"?

### Ile ról (cast) było obsadzonych w filmie "Inception"?

### Ile ról w filmie "Inception" NIE nie otrzymało rankingu (kolumna "n")?

### A ile ról w filmie "Inception" otrzymało ocenę rankingu w kolumnie "n"?

### Wyświetl obsadę filmu "North by Northwest" według liczby ocen od pierwszoplanowych, ignorując role, które nie otrzymały oceny

### Wyświetl całą obsadę według rankingu dla filmu "Sleuth" z 1972.

### Wyświetl całą obsadę według liczby ocen filmu "Sleuth" z 2007 r.

### Ile ról było obsadzonych w niemej wersji Hamleta z 1921 r.?

### Ile ról było obsadzonych w Hamlecie z 1996 r.?

### Ile ról filmu "Hamlet" było obsadzonych w calej historii kina?

### Ilu aktorów grało rolę "Ophelia"?

### Ilu aktorów grało rolę "The Dude"?

### Ilu aktorów grało rolę "The Stranger"?

### Ile ról zagrał w swojej karierze Sidney Poitier?

### Ile ról zagrała Judi Dench?

### Wylistuj role drugoplanowe (mające n=2) grane przez Cary Grant w latach 40, w porządku według roku.

### Wylistuj role pierwszoplanowe, które Cary Grant grał w latach 40 według roku.

### Ile ról było dostępnych dla aktorów w latach 50tych?

### Ile ról było dostępnych dla aktorek w latach 50tych?

### Ile ról pierwszoplanowych (n=1) było dostępnych od początku historii filmu do końca roku 1980?

### Ile ról niepierwszoplanowych było dostępnych od początku historii kina do końca roku 1980?

### Ile ról do końca 1980 było na tyle słabych, że nie otrzymało oceny "n"?

## Koniec cz. 1